<a href="https://colab.research.google.com/github/ramubalu/myfiles/blob/master/WCP1_IRIS_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing the dataset**

In [0]:
import pandas as pd
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',header=None)
#data.info()
data.describe()
#data.head()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

**Understanding the dataset**

In [0]:
X=data[[0,1,2,3]]
un1=data[4].unique()
print(un1)
un=list(data[4].unique())
print(un)
ud={}
for i,j in enumerate(un):
   ud[j]=i
print(ud)
data[4]=data[4].map(ud)
y=data[4]
X.head()
y.head()

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']
['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']
{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

0    0
1    0
2    0
3    0
4    0
Name: 4, dtype: int64

**Splitting data into train and test**

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
Xtr,Xte,ytr,yte=train_test_split(X,y,test_size=0.3,random_state=0)

In [0]:
print("X training data shape: {}".format(Xtr.shape))
print("y training data shape: {}".format(ytr.shape))
print("X test data shape: {}".format(Xte.shape))
print("y test data shape: {}".format(yte.shape))

X training data shape: (105, 4)
y training data shape: (105,)
X test data shape: (45, 4)
y test data shape: (45,)

**Understanding training  data**

**Applying the Model**

In [0]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)

In [0]:
knn.fit(Xtr,ytr)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

**Checking the model on user test data value**

In [0]:
import numpy as np
Xnew=np.array([[7,4.9,3,2.2]])
print("Xnew.shape: {}".format(Xnew.shape))

Xnew.shape: (1, 4)

In [0]:
pred=knn.predict(Xnew)
print("Prediction : {}".format(pred))

Prediction : [1]

In [0]:
ypred=knn.predict(Xte)
print("Test set predictions\n {}".format(ypred))

Test set predictions
 [2 1 0 2 0 2 0 1 1 1 2 1 1 1 1 0 1 1 0 0 2 1 0 0 2 0 0 1 1 0 2 1 0 2 2 1 0
 2]

**Checking the model on the test data set**

In [0]:
print("Test set score: {:.2f}".format(np.mean(ypred==yte)))

Test set score: 0.97

In [0]:
print("test set score: {:.2f}".format(knn.score(Xte,yte)))

test set score: 0.97

In [0]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(yte,ypred)
cm

array([[13,  0,  0],
       [ 0, 15,  1],
       [ 0,  0,  9]])